@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.font-poppins {
    font-family: 'Poppins', sans-serif;
}

/* .deadline::before {
    content: "Deadline";
    margin-right: 4px;

} */
input::-webkit-datetime-edit-hour-field {
    margin-left: 10px;
}